{% extends "flask_user_layout.html" %}

{% block extra_css %}
{{ super() }}
<link href="{{ url_for('static', filename='epoch.css') }}" rel="stylesheet"/>
<style>
    h3 {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .lineBlue .category1 .line { stroke: dodgerblue; }
    .lineOrange .category1 .line { stroke: orange; }
    .lineGreen .category1 .line { stroke: forestgreen; }
</style>
{% endblock %}

{% block content %}
<h1>Graphs</h1>

<h3>Temperature</h3>
<div id="temperature_chart_div" class="epoch lineBlue" style="width: 100%; height: 200px"></div>

<h3>Humidity</h3>
<div id="humidity_chart_div" class="epoch lineOrange" style="width: 100%; height: 200px"></div>

<h3>Movement</h3>
<div id="movement_chart_div" class="epoch lineGreen" style="width: 100%; height: 200px"></div>

<div id="subscribe_messages"></div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="{{ url_for('static', filename='epoch.min.js') }}"></script>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        /*
            GRAPHS
        */
        // TEMPERATURE SENSOR
        var temperature_data = [
            {
                label: "Temperature",
                values: [{time: (new Date()).getTime() / 1000, y: 0}]
            }
        ];

        var temperature_chart = $('#temperature_chart_div').epoch({
            type: 'time.line',
            data: temperature_data,
            axes: ['bottom', 'left'],
            ticks: {time: 5, right: 5, left: 5}
        });

        // HUMIDITY SENSOR
        var humidity_data = [
            {
                label: "Humidity",
                values: [{time: (new Date()).getTime() / 1000, y: 0}]
            }
        ];

        var humidity_chart = $('#humidity_chart_div').epoch({
            type: 'time.line',
            data: humidity_data,
            axes: ['bottom', 'left'],
            ticks: {time: 5, right: 5, left: 5}
        });

        // MOVEMENT SENSOR
        var movement_data = [
            {
                label: "Movement",
                values: [{time: (new Date()).getTime() / 1000, y: 0}]
            }
        ];

        var movement_chart = $('#movement_chart_div').epoch({
            type: 'time.line',
            data: movement_data,
            axes: ['bottom', 'left'],
            ticks: {time: 5, right: 5, left: 5}
        });

        /*
            SOCKET
         */
        const socket = io.connect('http://' + document.domain + ':' + location.port);

        // Listen for MQTT messages
        socket.on('mqtt_message', function (data) {
            if (data['topic'] == "temperature") {
                temperature_chart.push([{time: (new Date()).getTime() / 1000, y: parseInt(data['payload'])}]);
            } else if (data['topic'] == "humidity") {
                humidity_chart.push([{time: (new Date()).getTime() / 1000, y: parseInt(data['payload'])}]);
            } else if (data['topic'] == "movement") {
                movement_chart.push([{time: (new Date()).getTime() / 1000, y: parseInt(data['payload'])}]);
            }
        })
    });
</script>
{% endblock %}