{% extends "base.html" %}
{% block title %} Graf {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>

<h1>Graf</h1>
<p>Denne siden skal vise graf-data som vi får fra Raspberry Pi-en.</p>

<div id="chart_temperature" style="height: 400px; width: 100%; margin-top: 50px;"></div>
<div id="chart_humidity" style="height: 400px; width: 100%; margin-top: 50px;"></div>
<div id="chart_motion" style="height: 400px; width: 100%; margin-top: 50px;"></div>

<div id="subscribe_messages"></div>
{% if val is defined %}
{{ val }}
{% endif %}
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        /*
            GRAPHS
        */
        // Temperature sensor
        var data_temperature = [];
        var x_temperature = 0;

        var options_temperature = {
            theme: "light2",
            title: {
                text: "Temperature"
            },
            data: [{
                type: "line",
                dataPoints: data_temperature
            }]
        };

        $("#chart_temperature").CanvasJSChart(options_temperature);

        // Humidity sensor
        var data_humidity = [];
        var x_humidity = 0;

        var options_humidity = {
            theme: "light2",
            title: {
                text: "Humidity"
            },
            data: [{
                type: "line",
                dataPoints: data_humidity
            }]
        };

        $("#chart_humidity").CanvasJSChart(options_humidity);

        // Motion sensor
        var data_motion = [];
        var x_motion = 0;

        var options_motion = {
            theme: "light2",
            title: {
                text: "Motion"
            },
            data: [{
                type: "line",
                dataPoints: data_motion
            }]
        };

        $("#chart_motion").CanvasJSChart(options_motion);

        /*
            SOCKET
         */
        const socket = io.connect('http://' + document.domain + ':' + location.port);

        // listen for mqtt_message events
        // when a new message is received, log and append the data to the page
        socket.on('mqtt_message', function (data) {
            const text = '(' + data['topic'] + ' qos: ' + data['qos'] + ') ' + data['payload'];
            $('#subscribe_messages').append(text + '<br><br>');

            if(data['topic'] == "temperature") {
                data_temperature.push({x: x_temperature, y: parseInt(data['payload'])});
                $("#chart_temperature").CanvasJSChart(options_temperature);
                x_temperature++; // CHANGE ME
            }
            else if(data['topic'] == "humidity") {
                data_humidity.push({x: x_humidity, y: parseInt(data['payload'])});
                $("#chart_humidity").CanvasJSChart(options_humidity);
                x_humidity++; // CHANGE ME
            }
            else if(data['topic'] == "motion") {
                data_motion.push({x: x_motion, y: parseInt(data['payload'])});
                $("#chart_motion").CanvasJSChart(options_motion);
                x_motion++; // CHANGE ME
            }
        })
    });
</script>
{% endblock %}